@charset "utf-8";
@import url("reveal.css"); 
@import url("../keyboard/style.css"); 

/*主功能*/

.main{ clear:both; padding:0; width:100%; overflow:hidden; background:#fff; margin:0; text-align:center;position: relative;}
.main2{ clear:both; padding:0; width:100%; overflow:hidden; background:#d9e0e4; margin:0; text-align:center;position: relative;}

.item {
	width:100%;
	margin:0;
	padding:0;
	background-color:#fff;
}
.item table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size:1.15em;
    background-color:#FFF;
    margin:0;
    width:100%;
    border-top: 1px dotted #666;
}
.item table th { white-space:nowrap; background-color:#333; padding: 5px 7px;
    border: 1px dotted #666;
    color:#fff;
    width:20%;
    text-align:right;
}
.item table td {
    vertical-align: middle;
    text-align:left;
    padding: 5px 7px;
    border-right: 1px dotted #666;
    border-bottom: 1px dotted #666;
    border-left: 1px dotted #666;
    white-space:nowrap;/* 不换行 */ 
}
.item table td.number { text-align:right;}
.item table td.detail { border-top:1px solid #C0C0C0; border-bottom:1px solid #999; font-size:.85em;}
.item table td.detail table{ border-collapse:collapse; background:none; border:none;}
.item table td.detail table td{ width:50%;background:none; border:none; font-size:.85em;}
.item table td.detail table tr:hover{ background:none;}
.item table td.title {}
.item table td.title .text-overflow {
	width:15em;
	display:block;
	word-break:keep-all;/* 不换行 */ 
	white-space:nowrap;/* 不换行 */ 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.of2 {width:15em !important;}
.text-overflow span{ font-size:.75em; color:#aaa;}
.item table tr:hover{ text-decoration:none;background: #fbfae9; cursor: pointer;}
.item table tr.selected{background:#FFE6E6;}
.container{ height:300px; overflow-y:auto;}

.text-overflowhidden {
	width:6em;
	display:block;
	word-break:keep-all;/* 不换行 */ 
	white-space:nowrap;/* 不换行 */ 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.totalinfo tr{height:40px;;}
.totalinfo th{width:12% !important;}
.totalinfo td{min-width:20% !important; width:20%;}


/*浮動選單按鈕設定*/
#LM1 ul li input[type="button"]{ background-color:#FFFFFF;}
#LM1 ul li input[type="button"]:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #e5e5e5;
    cursor: pointer;
}

.dkeyboard1, .dkeyboard2, .dkeyboard3{
	position:fixed; opacity:0.9; padding:7px 0; z-index:99;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.dkeyboard1 a, .dkeyboard2 a, .dkeyboard3 a{ display:block;}
.dkeyboard1{bottom:15px; left:14.25%; background:#333; width:55%;}
.dkeyboard2{bottom:15px; left:1.75em; background:#333; width:10.5%;}
.dkeyboard3{bottom:-6px; right:1.75em; background:#CC0000; width:25%;
    border-radius: 0 0 5px 5px !important;
    text-align:center !important;
}
.keyboardline{width:100%; border-top:1px solid #333; padding:0; margin:0; position:fixed; bottom:50px; right:0;}

#LM1,#LM2 { position:fixed; bottom:50px; right:0; background:#333; opacity:0.95; width:100%; padding:15px 0 10px; z-index:1001;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.blockA{width:300px; margin:0; padding:0; display:inline-block; vertical-align:top;}
.blockB{width:110px; margin:0; padding:0; display:inline-block; vertical-align:top;}
.blockC{width:215px; margin:0; padding:0; display:inline-block; vertical-align:top;}
.blockD{width:310px; margin:0; padding:0; display:inline-block; vertical-align:top;}
.blockE{width:530px; margin:0; padding:0; display:inline-block; vertical-align:top; text-align:left;}

.leftbar {width:24%; display:inline-block; margin:0; padding:0; vertical-align:top;
    border-right: 1px solid #666; min-height:625px; overflow:hidden;
}
.rightcontent {width:75%; display:inline-block; margin:0; padding:0; vertical-align:top;}

.ui-tabs-nav {width:100%; margin:0; padding:0; height:%}
.ui-tabs-nav li {
	font-size:1.25em;
	line-height:1.75em;
    white-space: nowrap;
    text-align:right;
    list-style: none;
    display: block;
    margin: 0 0 10px;
    padding: 3px 10px 7px 0;
    border: 1px solid #666;
    border-right: 0;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}
.ui-tabs-nav li a { color:#666; display:block;}
.ui-tabs-nav li.active { background:#484848 url('../images/arrow-right.png') no-repeat 0 10px;}
.ui-tabs-nav li.active a {color:#fff;}
.ui-tabs-nav li ul li.active { background: url('../images/arrow-right-red.png') no-repeat right 7px;;}
.ui-tabs-nav li ul { width:100%; margin:5px 0 0; padding:10px 0 0 0;}
.ui-tabs-nav li li { font-size:.85em; border:none; margin:0; padding-right:15px; padding-left:35px;}
.ui-tabs-nav li.active li a {}
.ui-tabs-nav li ul li.active a {border-bottom:1px dotted #fff;}

.saleinfo{}
.saleinfo table{ border-collapse:collapse; padding:0; margin:0 0 10px; border:none; border-top:1px solid #000; border-bottom:1px solid #000;}
.saleinfo table caption{ font-size:.85em; font-weight:normal; text-align:left;}
.saleinfo table th{ border:none; border-bottom:1px dotted #ddd; /*width:25%;*/ background:#777; text-align:left; font-weight:normal; font-size:.85em;}
.saleinfo table td{ border:none; border-bottom :1px dotted #666; background:#eee;}
.saleinfo table tr:hover{ background:none; cursor:default;}

table.search {
    border: 2px solid #E4E4E4;
    width: 97%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 10px;
    background-color:#FFF;
}
table.search caption{ display: table-caption;}
table.search th {
    background: #3fadc9;
    color: #FFF;
    border: 1px solid #E4E4E4;
    padding: 9px 10px;
    vertical-align: middle;
    text-align: right;
    width:20%;
}
table.search td {
    vertical-align: top;
    text-align: left;
    padding: 5px 10px;
    border: 1px solid #E4E4E4;
}

.List h2 {clear:both;}
.List{margin:10px 0 0; text-align:left;max-height:485px; overflow-y:auto;}
.List ol{ margin:0; padding:0;}
.search .List ol{ overflow-y:auto; height:260px;}
.List ol li{ display:inline-block; width:45%; max-height:100px; vertical-align:top; position:relative;}
.List ol li.select{ display:block; width:95%; height:auto;}
.selected {background:#E3E3E3 !important;}

.List ol.msearch{ height:175px;}
.List ol.msearch li{ width:95%;}

.List ol li a{ display:block;}
.List ol li:hover{ background-color:#FFFFCC;}
.List ol li{ list-style:none; margin:5px; padding:15px 10px; background-color:#FFFFFF; border:1px dotted #666;}
.List ol li .title{ font-size:1.35em; font-weight:bold; display:block; margin-top:7px; margin-right:10px;}
.List ol li .code{ font-size:.85em; font-weight:normal; margin-right:10px;}
.List ol li .detail{ color:#666666; display:inline-block; margin-right:10px;}
.List ol li .unit{ margin-right:5px; margin-left:0;}
.List ol li .price{ margin-right:10px; display:inline-block;}
.List ol li .price span{ font-size:1.35em; color:#CC0000; margin-left:5px;}
.List ol li .priceinfo{ display:inline-block;}
.List ol li .priceinfo .subsidy em{font-size:1.15em; color:#CC0000;margin-left:5px; font-style:normal;}
.List ol li .note{ font-size:.65em; margin-left:10px; color:#333;}
.List ol li .barcode{ font-size:.75em;color:#666666;}
.List ol li .type{ margin-right:7px; font-size:.7em; color:#666; font-weight:normal;}
.List ol li .toprice{ margin-top:7px; margin-right:10px; display:inline-block; font-weight:normal; color:#999999;}
.List ol li .toprice span{ color:#CC0000; margin-left:5px;}
.List ol li span {margin-left:10px;}

.List ol li .back {	background:#aaa;height:1.5em; padding-top:15px;}
.List ol li .back a {color:#FFF;}
.shopcontrol {
	margin:0;
	padding:0;
	text-align:center;
	position:absolute;
	top:0;
	right:0;
}
.shopcontrol a {
	display:block;
	width:23px;
	height:23px;
	background:#666;
	color:#fff;
	padding: 5px 7px;
	margin:0 0 5px;
	font-family:Verdana;
}
.shopcontrol a.smiddle {
	width:73px;
	height:23px;
	vertical-align:middle;
	padding: 10px;
	margin-top:10px;
	margin-right:10px;
	color:#fff;
}

.reveal-modal table {margin:10px auto;}
.reveal-modal table tr { height:45px;}
.reveal-modal table tr:hover { background:none; cursor:default;}

.tableinfo {}
.tableinfo tr:hover { background:none !important; cursor:default !important;}

li.select input[type=checkbox] {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 99;
}

